* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #a7a4a4;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(131, 128, 128);
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(117, 108, 108);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #cc8d18;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(100, 92, 92);
  color: rgb(192, 160, 15);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 10%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 85%;
  background-color: #706767;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: rgb(163, 143, 143);
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(163, 153, 153);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(105, 100, 100);
  margin-top: 20px;
  color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}